PORT=3005
NODE_ENV=development
RABBITMQ_URLS=amqp://rabbitmq:rabbitmq123@localhost:5672
RABBITMQ_QUEUE=payments_queue
STRIPE_SECRET_KEY=your_stripe_key
STRIPE_ENDPOINT_SECRET=your_stripe_endpoint_secret
PAYMENTS_CANCEL_URL=http://localhost:3000/cancel
PAYMENTS_SUCCESS_URL=http://localhost:3000/success
